.city {
  width: 95vw;
  height: 20vh;
  border: 1px solid rgba(25, 25, 25, 0.32);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityName {
  font-size: 40px;
}

.weather {
  font-size: 30px;
}

.add {
  position: fixed;
  width: 90px;
  height: 90px;
  border: 3px #fff solid;
  border-radius: 100%;
  bottom: 50px;
  right: 50px;
  background-color: #6eb2df;
}
