.mainContainer {
  height: 100vh;
  display: block;
}

.mainContainer1 {
  height: 100vh;
  display: none;
}

.stor {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.stor1 {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 4;
}