.top {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #8e24aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.messagesHatContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.bigContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.user {
  text-align: center;
  color: white;
}

.online {
  text-align: center;
  font-weight: lighter;
  color: grey;
}

.messagesHatAvatar {
  background-color: grey;
  width: 70px;
  height: 70px;
  border: 3px #fff solid;
  border-radius: 100%;
}

.messagesHatSearch {
  border: 0;
  height: 60px;
  width: 60px;
  background: #8e24aa;
  cursor: pointer;
  margin-right: 10px;
}

.messagesHatCircle {
  position: relative;
  width: 20px;
  border: 3px #fff solid;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 6px;
  content: '';
  height: 20px;
  top: 3px;
  display: block;
}

.messagesHatHandle {
  position: relative;
  height: 16px;
  width: 4px;
  left: 30px;
  bottom: 4px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.backBtn {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: #8e24aa;
  border: 0;
  cursor: pointer;
}

.backBtn:focus {
  outline: 0;
}

.back_top {
  position: relative;
  height: 20px;
  width: 3px;
  background-color: #fff;
  transform: rotate(45deg);
  left: 25px;
  top: 15px;
}

.back_bottom {
  position: relative;
  height: 20px;
  width: 3px;
  background-color: #fff;
  transform: rotate(-45deg);
  left: 25px;
  bottom: 17px;
}

.back_middle {
  position: relative;
  height: 25px;
  width: 3px;
  background-color: #fff;
  transform: rotate(90deg);
  left: 31px;
  bottom: 1px;
}

.settings {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.settings_top {
  position: relative;
  width: 5px;
  border: 1px #fff solid;
  border-radius: 100%;
  content: '';
  height: 5px;
  display: block;
  background: #fff;
  left: 27px;
  top: 16px;
  margin-bottom: 4px;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 45%;
  padding: 8px;
  min-height: 40px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(210, 36, 170, 0.17);
  align-self: flex-end;
  border-radius: 10px;
  animation-name: messageAppear;
  animation-duration: 1s;
  flex-basis: content;
}

.messageText {
  align-self: center;
  word-wrap: break-word;
  max-width: 75%;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
  margin-bottom: 5px;
}

.messagesMark {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

/* .mark-left {
  width: 2px;
  height: 8px;
  transform: rotate(-45deg);
  background-color: #8e24aa;
}

.mark-right {
  margin-left: 6px;
  left: 6px;
  width: 2px;
  height: 16px;
  transform: rotate(45deg);
  background-color: #8e24aa;
}

.mark-left2 {
  width: 2px;
  height: 8px;
  transform: rotate(-45deg);
  background-color: #8e24aa;
}

.mark-right2 {
  margin-left: 6px;
  width: 2px;
  height: 16px;
  transform: rotate(45deg);
  background-color: #8e24aa;
}
*/

@keyframes messageAppear {
  from {
    background-color: rgba(210, 36, 170, 0);
  }

  to {
    background-color: rgba(210, 36, 170, 0.17);
  }
}

.result {
  padding-top: 10%;
  padding-bottom: 3%;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}

.messageTime {
  color: grey;
  width: calc(100% - 4px);
  font-size: 14px;
  text-align: right;
  width: max-content;
}

.inputContainer {
  position: fixed;
  width: 100%;
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: flex-start;
}

.messageInput {
  position: fixed;
  bottom: 0;
  outline: none;
  width: calc(100% - 70px);
  height: 30px;
  border-top: 1px solid rgba(25, 25, 25, 0.32);
}

.inputClip {
  position: fixed;
  height: 34px;
  width: 70px;
  bottom: 0;
  outline: none;
  left: calc(100% - 70px);
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(25, 25, 25, 0.32);
}

:host {
  display: inline-block;
}

.messageInput[type='submit'] {
  visibility: collapse;
}

.screen {
  height: 100vh;
  width: 100vw;
  animation-name: mainAppear;
  animation-duration: 0.5s;
  position: fixed;
  z-index: -1;
}

@keyframes mainAppear {
  from {
    z-index: 2;
    background: rgb(255, 255, 255);
  }

  to {
    z-index: 0;
    background: rgba(255, 255, 255, 0);
  }
}

.compassBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.audioBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.attachBtn {
  display: none;
}

.labelForAttach {
  background: url('../images/attach.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.compassBtn:focus {
  outline: 0;
}

.attachBtn:focus {
  outline: 0;
}

.audioBtn:focus {
  outline: 0;
}
